# Node build artifacts
node_modules/
npm-debug.log
.idea/

# Local development
*.env
*.dev
.DS_Store
.idea/

# Docker
Dockerfile
docker-compose.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
