<ion-header>
  <ion-toolbar>
    <!-- skip used in dev mode remove before deploy-->
    <!-- <ion-buttons slot="secondary">
        <ion-button color="danger" (click)="skip()">
          Skip
        </ion-button>
    </ion-buttons> -->
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label stacked>email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <div text-center margin-top>
    <ion-button margin-right (click)="signUp()">
      SIGN UP
    </ion-button>

    <ion-button color="secondary" (click)="signIn()">
      SIGN IN
    </ion-button>
    <br>
    <p id="forget" (click)="forget()">forget password</p>
  </div>
</ion-content>