<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="bar bar-header bar-danger">
      </div>

        <div id="profile-bg"></div>
        <div id="content">
          <div id="profile-info">
            <img id="profile-image" src="http://chittagongit.com//images/user-png-icon/user-png-icon-15.jpg"> -->
  <ion-list>       
    <ion-item (click)="profile()" lines="none">
      <ion-thumbnail slot="start">
        <img *ngIf="profileImgUrl" [src]="profileImgUrl" id="profile-image">
      </ion-thumbnail>
      <ion-label>{{me.name}}</ion-label>
    </ion-item>
</ion-list>
                <!-- <button ion-button icon-only clear block (click)="profile()">
                    <ion-icon name="arrow-dropright-circle"></ion-icon>
                 </button>  -->

  <!-- <ion-button block (click)="editprofile()">
    edit profile
  </ion-button> -->
  <ion-button block (click)="logOut()">
      logout
  </ion-button>
          <!-- </div>
        </div> -->
</ion-content>
