<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>editpic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="text-center">
    <img *ngIf="profileImgUrl" [src]="profileImgUrl" id="profile-image" alt="avatar">
    <!-- <h6>Upload a different photo...</h6> -->
    <br>
    <input type="file" accept="image/jpg" (change)="changpic($event)">
    <button (click)="updatepic()" ion-button>Update</button>
    <!-- class="form-control" -->
    <!-- <ion-input type="file" accept="image/*" id="upload" [(ngModel)]="newpic" (change)="changpic($event)"></ion-input> -->
  </div>

  <!-- <ion-card>
    <ion-card-content>
      <ion-button color="medium" size="large" (click)="cropUpload2()">
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card> -->

  <!-- <button (click)="upload()" ion-button>Take Pic & Upload </button> -->
</ion-content>
