<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
    <ion-title>Forget password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label stacked>{{label}}</ion-label>
        <ion-input [(ngModel)]="input"></ion-input>
      </ion-item>
      <ion-note color="dark" >{{message}}</ion-note>
      <!-- [hidden]="hidenote" -->
      </ion-list>
  
      <ion-button color="secondary" (click)="sumbit()">
        Submit
        </ion-button>
  
</ion-content>
