<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>signup</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
<ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" placeholder="Use at least one upper-case, one lower-case letter and one number with length between 6 to 30"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One" id="fullWidth" [(ngModel)]="gender">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
      <ion-select-option value="You guess it">You guess it</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>University</ion-label>
    <ion-select placeholder="Select One" id="fullWidth" [(ngModel)]="university">
      <ion-select-option value="Purdue University (West Lafayette)">Purdue University (West Lafayette)</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Class Standing</ion-label>
    <ion-select list="years" name="year" placeholder="Choose year of class" [(ngModel)]="class">
      <ion-select-option value="Freshman">Freshman</ion-select-option>
      <ion-select-option value="Sophmore">Sophmore</ion-select-option>
      <ion-select-option value="Junior">Junior</ion-select-option>
      <ion-select-option value="Senior">Senior</ion-select-option>
      <ion-select-option value="Graduate">Graduate</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Major</ion-label>
    <!-- <ion-input type="major" [(ngModel)]="major"></ion-input> -->
    <ion-select [(ngModel)]="major">
      <ion-select-option *ngFor="let ma of majors" [value]="ma">{{ma}}</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
  <div padding>
    <ion-button block (click)="signUp()">
      SIGN UP
    </ion-button>
  </div>
</ion-content>
