<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>edit my profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>

          <input type="file" class="form-control">
        </div>
      </div>
<ion-list>

    <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <!-- <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input [(ngModel)]="lastname"></ion-input>
      </ion-item> -->

      <!-- <ion-item>
          <ion-label>Username</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item> -->

        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One" id="fullWidth" [(ngModel)]="gender">
            <ion-select-option value="m">Male</ion-select-option>
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="u">You guess it</ion-select-option>
          </ion-select>
          </ion-item>


  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>University</ion-label>
    <ion-select placeholder="Select One" id="fullWidth" [(ngModel)]="university">
      <ion-select-option value="Purdue University (West Lafayette)">Purdue University (West Lafayette)</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- <ion-item>
      <ion-label>University ID</ion-label>
      <ion-input [(ngModel)]="uid"></ion-input>
  </ion-item> -->

  <ion-item>
      <ion-label>Major</ion-label>
      <ion-input [(ngModel)]="major"></ion-input>
    </ion-item>
</ion-list>

<ion-item>
    <ion-label>Class Standing</ion-label>
    <ion-select placeholder="Select One" id="fullWidth" [(ngModel)]="class">
    <ion-select-option value="Freshman">Freshman</ion-select-option>
    <ion-select-option value="Sophomore">Sophomore</ion-select-option>
    <ion-select-option value="Junior">Junior</ion-select-option>
    <ion-select-option value="Senior">Senior</ion-select-option>
    <ion-select-option value="Graduate">Graduate</ion-select-option>
  </ion-select>
  </ion-item>

  <div padding>
    <ion-button block (click)="update()">
        UPDATE
      </ion-button>
  </div>
</ion-content>
