<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>edit my profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>

    <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="me.name" value="{{me.name}}"></ion-input>
    </ion-item>

    <!-- <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input [(ngModel)]="lastname"></ion-input>
      </ion-item> -->

      <!-- <ion-item>
          <ion-label>Username</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item> -->

        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select [placeholder]="me.gender" id="fullWidth" [(ngModel)]="me.gender">
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="You guess it">You guess it</ion-select-option>
          </ion-select>
          </ion-item>


  <!--ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>-->

  <ion-item>
    <ion-label>University</ion-label>
    <ion-select [placeholder]="me.university" id="fullWidth" [(ngModel)]="me.university">
      <ion-select-option value="Purdue University (West Lafayette)">Purdue University (West Lafayette)</ion-select-option>
    </ion-select>
  </ion-item> 

  <!-- <ion-item>
      <ion-label>University ID</ion-label>
      <ion-input [(ngModel)]="uid"></ion-input>
  </ion-item> -->

  <ion-item>
      <ion-label>Major</ion-label>
      <ion-select [(ngModel)]="me.major" [placeholder]="me.major">
        <ion-select-option *ngFor="let ma of majors" [value]="ma">{{ma}}</ion-select-option>
      </ion-select>
    <!-- <ion-input [(ngModel)]="me.major" value="{{me.major}}"></ion-input> -->
  </ion-item>


<ion-item>
    <ion-label>Class Standing</ion-label>
    <ion-select [placeholder]="me.class" id="fullWidth" [(ngModel)]="me.class">
    <ion-select-option value="Freshman">Freshman</ion-select-option>
    <ion-select-option value="Sophomore">Sophomore</ion-select-option>
    <ion-select-option value="Junior">Junior</ion-select-option>
    <ion-select-option value="Senior">Senior</ion-select-option>
    <ion-select-option value="Graduate">Graduate</ion-select-option>
  </ion-select>
</ion-item>

  <div padding>
    <ion-button block (click)="update()">
        UPDATE
      </ion-button>
  </div>
</ion-list>
</ion-content>
