<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bar bar-header bar-danger">
      </div>

        <div id="profile-bg"></div>
        <div id="content">
          <div id="profile-info">
            <img id="profile-image" src="http://chittagongit.com//images/user-png-icon/user-png-icon-15.jpg">
            <h3 id="profile-name">Max
            </h3>         
        </div>
        </div>

        <ion-card>
            <ion-card-header>
              <ion-card-title>Full Name</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Junqi Zhang
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-title>Username</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Jasmine
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-title>Email</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Jasmine@mail
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-title>University</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Purdue University
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-title>Major</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Computer Science
            </ion-card-content>
        </ion-card>
</ion-content>

